In [1]:
import datetime

now = datetime.datetime.now()

print(now)

2025-04-02 23:12:06.585897

In [6]:
current_date = datetime.date.today()

print(current_date)

print(current_date.month)
print(current_date.day)
print(current_date.year)

2025-04-02
4
2
2025

In [3]:
d = datetime.date(2022, 12, 25)
print(d)

2022-12-25

In [4]:
timestamp = datetime.date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

In [8]:
a = datetime.time()
print(a)

# time(hour, minute and second)
b = datetime.time(11, 34, 56)
print(b)

# time(hour, minute and second)
c = datetime.time(hour = 11, minute = 34, second = 56)
print(c)

# time(hour, minute, second, microsecond)
d = datetime.time(11, 34, 56, 234566)
print(d)

print(d.hour)
print(d.second)
print(d.minute)
print(d.microsecond)

00:00:00
11:34:56
11:34:56
11:34:56.234566
11
56
34
234566

In [10]:
a = datetime.datetime(2022, 12, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime.datetime(2022, 12, 28, 23, 55, 59, 342380)
print(b)

print("Year =", a.year)
print("Month =", a.month)
print("Hour =", a.hour)
print("Minute =", a.minute)
print("Timestamp =", a.timestamp())

2022-12-28 00:00:00
2022-12-28 23:55:59.342380
Year = 2022
Month = 12
Hour = 0
Minute = 0
Timestamp = 1672165800.0

In [11]:
# using date()
t1 = datetime.date(year = 2018, month = 7, day = 12)
t2 = datetime.date(year = 2017, month = 12, day = 23)

t3 = t1 - t2

print("t3 =", t3)

# using datetime()
t4 = datetime.datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime.datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("Type of t3 =", type(t3)) 
print("Type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
Type of t3 = <class 'datetime.timedelta'>
Type of t6 = <class 'datetime.timedelta'>

In [12]:
t1 = datetime.timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = datetime.timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)

t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [13]:
t = datetime.timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("Total seconds =", t.total_seconds())

Total seconds = 435633.233423

In [14]:
# current date and time
now = datetime.datetime.now()

t = now.strftime("%H:%M:%S")
print("Time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Time: 23:23:25
s1: 04/02/2025, 23:23:25
s2: 02/04/2025, 23:23:25

In [16]:
date_string = "25 December, 2022"
print("date_string =", date_string)

# use strptime() to create date object
date_object = datetime.datetime.strptime(date_string, "%d %B, %Y")

print("date_object =", date_object)

date_string = 25 December, 2022
date_object = 2022-12-25 00:00:00

In [17]:
from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 04/02/2025, 23:25:34
NY: 04/02/2025, 13:55:40
London: 04/02/2025, 18:55:40

In [18]:
import time

print('before sleep')
time.sleep(5)
print('After sleep')

before sleep
After sleep